extends templates/home
block title
  title Contacto
block menu-contacto
  li: a.active(href="#") Contacto
block content
  section#contacto__form-adr
    include includes\contacto__form-adr
  section#contacto__mapa
    include includes\contacto__form-adr
