extends templates/home
block title
  title Nosotros
block menu-nosotros
  li: a.active(href="#") Nosotros
block content
  header#nostros__acerca
    include includes/nosotros__acerca.jade
  section#nosotros__mvv
    include includes/nosotros__mvv.jade
    
