extends templates/home
block title
  title Agencia Gema
block menu-productos
  li: a.active(href="#") Productos
block content
  header#productos__header
    include includes/productos__header
  section#nosotros__mvv
    include includes/productos__rejilla
