extends templates/home
block title
  title Servicios
block menu-servicios
  li: a.active(href="#") Servicios
block content
  header#productos__header
    include includes/servicios__header
  section#nosotros__mvv
    include includes/servicios__rejilla
