.ed-container.contacto__form-adr
  .ed-item.contacto--header
    h1 Contacto
  .ed-item.tablet-65
    h1 Formulario
    .contacto__form--container
      //form.contacto__form(action="http://efrix.net/form/gema-by-mail.php" method="post")
      form.contacto__form(action="http://efrix.net/form/gema-by-mail.php" method="post")
        ul
          li: input(type="text" name="nombre" placeholder="Nombre")
          li: input(type="text" name="correo" placeholder="Teléfono")
          li: input(type="text" name="telefono" placeholder="Mail")
          li: textarea(type="text-area" name="mensaje" placeholder="Mensaje")
          li: input.btn-send(type="submit" value="enviar")
  .ed-item.tablet-35
    h1 Dirección

    p.icon-in Dardanelos 3120, Estrella,<br>CP: 64400 Mty, N.L.
    p Teléfono: <a href="tel:+8183550252">81 8355 0252</a>
    p Teléfono: <a href="tel:+8183201571">81 8320 1571</a>
    p Mail: contacto@agenciagema.com
    ul.home__footer--social-icons
      li: a.icon-facebook(href="https://www.facebook.com/agenciagemamty/" target="_blank")
      li: a.icon-twitter(href="https://twitter.com/agenciagemamty" target="_blank")
      li: a.icon-google-plus(href="https://plus.google.com/108612761362268448487" target="_blank")
