.home__header
  .ed-container.topbar
    .ed-item.web-50
    .ed-item.web-25
      a(href="mailto:contacto@agenciagema.com") contacto@agenciagema.com
    .ed-item.web-15
      a(href="tel:8183550252") 81 8355 0252
    .ed-item.web-10
      ul.topbar--social-icons
        li: a.icon-youtube(href="https://www.facebook.com/agenciagemamty/")
        li: a.icon-facebook(href="https://www.facebook.com/agenciagemamty/")
        li: a.icon-twitter(href="https://www.facebook.com/agenciagemamty/")
        li: a.icon-google-plus(href="https://www.facebook.com/agenciagemamty/")
  .ed-container.logo-menu
    .ed-item
      nav
        #boton_menu Menu
        ul.menu
          block menu-inicio
            li: a(href="index.html") Inicio
          block menu-nosotros
            li: a(href="nosotros.html") Nosotros
          block menu-productos
            li: a(href="productos.html") Productos
          block menu-servicios
            li: a(href="servicios.html") Servicios
          block menu-contacto
            li: a(href="contacto.html") Contacto
      .logo
        a(href="index.html")
          img(src="img/logo-prop2.png", alt="")
