.home__footer
  .ed-container
    .ed-item.tablet-1-3.home__footer--facebook
      h1 Datos de Contacto
      img(src="img/logo.png", alt="")
      p  Somos una empresa regiomontana con más de 20 años en el área de renta de equipo para todo tipo de eventos.
      ul.home__footer--social-icons
        li: a.icon-facebook(href="https://www.facebook.com/agenciagemamty/")
        li: a.icon-twitter(href="https://www.facebook.com/agenciagemamty/")
        li: a.icon-twitter(href="https://www.facebook.com/agenciagemamty/")
        li: a.icon-google-plus(href="https://www.facebook.com/agenciagemamty/")
    .ed-item.tablet-1-3.home__footer--facebook
      h1 Facebook
      <div class="fb-page" data-href="https://www.facebook.com/agenciagemamty" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/agenciagemamty"><a href="https://www.facebook.com/agenciagemamty">Morral de Yute agencia de publicidad</a></blockquote></div></div>
    .ed-item.tablet-1-3.home__footer--formulario
      h1 Formulario
      .footer__form--container
        form.footer__form(action="")
          ul
            li: input(type="text" placeholder="Nombre")
            li: input(type="text" placeholder="Mail")
            li: textarea(type="text-area" placeholder="Mensaje")
            li: input.btn-send(type="submit" value="enviar")
