.index__frase
  .ed-container
    .ed-item.tablet-65
      h1 Limited time sepecial offer
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque deserunt quibusdam pariatur quia, cupiditate consectetur nesciunt amet fugit architecto suscipit cum ad, soluta dolorem vitae dolores iste vel. Et, ratione.
    
