.ed-container.inicio__slider-principal
  .ed-item.inicio--slider-box
    .slider-wrapper.theme-default
      #slider.nivoSlider
        a(href="contacto.html")
          img(src="img/banner4.png", alt="")
        a(href="servicios.html")
          img(src="img/banner3.png", alt="")
        a(href="productos.html")
          img(src="img/banner2.png", alt="")
