.index__bienvenidos-nosotros
  .ed-container
    .ed-item.tablet-60.index__bienvenidos
      h1 Bienvenidos
      //h2 Subtitle
      .flex-container
        .flex-item
          img(src="img/toldo.png", alt="")
        .flex-item
          p Somos una empresa regiomontana con mas de 20 años de experiencia en el servicio de banquetes y renta de equipo para todo tipo de eventos.
          a(href="nosotros.html") Leer mas

    .ed-item.tablet-40.index__nosotros
      h1 Productos
      p Contamos con Renta de equipo como:
      a(href="productos.html")
        .ed-container
          .ed-item.tablet-50
            ul
              li Silla acojinada
              li Silla Tiffany
              li Silla infantil
              li Silla metálica plegadiza
              li Tolde 3x3
              li Toldo 3x6
              li Toldo 4x4
              li Toldo 6x6
              li Toldo 6x12
          .ed-item.tablet-50
            ul
              li Calentador de exterior
              li Mesa redonda
              li Mesa infantil redonda
              li Mesa larga
              li Mesa tipo bar
            
        
        //p Contamos con Renta de equipo como Sillas negras, Silla tiffany, Silla infantil, Toldo 3x3, Toldo 3x6, Toldo 4x4, Toldo 6x6, Toldo 6x12, Calentador de exterior, Mesa redonda, Mesa infantil redonda, Mesa larga, Mesa tipo Bar.
