.index__bienvenidos-nosotros
  .ed-container
    .ed-item.tablet-60.index__bienvenidos
      h1 Bienvenidos
      //h2 Subtitle
      .flex-container
        .flex-item
          img(src="img/toldo.png", alt="")
        .flex-item
          p Somos una empresa regiomontana con más de 20 años en el área de renta de equipo para todo tipo de eventos.
          a(href="nosotros.html") Leer mas

    .ed-item.tablet-40.index__nosotros
      h1 Productos
      a(href="productos.html") 
        p Contamos con Renta de equipo como Sillas negras, Silla tiffany, Silla infantil, Toldo 3x3, Toldo 3x6, Toldo 4x4, Toldo 6x6, Toldo 6x12, Calentador de exterior, Mesa redonda, Mesa infantil redonda, Mesa larga, Mesa tipo Bar.
