.index__servicios-mapa-direccion
  .ed-container
    .ed-item.tablet-25.index__servicios
      h1 Servicios
      ul
        li: a(href="servicios.html") -Coffe Brake.
        li: a(href="servicios.html") -Charola de Repostrería Fina.
        li: a(href="servicios.html") -Charolas Saladas.
        li: a(href="servicios.html") -Charolas de Bocadillos.
        li: a(href="servicios.html") -Almuerzos tipo buffet.
        li: a(href="servicios.html") -Banquetes.
    .ed-item.tablet-50.index__mapa.maps
      h1 Contacto
      iframe(src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d115038.99391905464!2d-100.39938617105524!3d25.70546496788124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x866295c7118ce93b%3A0xf7fc870c0d02b6ec!2sagencia+gema+monterrey!3m2!1d25.705327099999998!2d-100.3291728!5e0!3m2!1ses-419!2smx!4v1457129183605" width="90%" height="300px" frameborder="0" style="border:0" allowfullscreen)
    .ed-item.tablet-25.index__direccion
      h1 Dirección
      br  
      p Dardanelos 3120, Estrella, 64400 Monterrey, N.L. 
      p Teléfono: <a href="tel:+8183201571" style="color:rgb(164,198,204);">81 8320 1571</a>
      
