.ed-container.nosotros__mvv
  .ed-item.tablet-1-3
    h2 Misión
    img(src="", alt="")
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nisi minus voluptatibus molestias autem animi neque reiciendis. Beatae accusamus rerum officiis at impedit voluptates soluta facilis! Reiciendis laborum vitae provident.
  .ed-item.tablet-1-3
    h2 Visión
    img(src="", alt="")
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, consequatur ducimus unde consequuntur. Obcaecati, enim nisi dolore ipsum praesentium deleniti possimus illo consequatur provident molestiae, nam dicta optio natus, odio.
  .ed-item.tablet-1-3
    h2 Valores
    img(src="", alt="")
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum officiis modi quis, tenetur placeat excepturi dicta velit accusantium possimus soluta a obcaecati culpa voluptatum ad, cum rerum aliquid vitae error.
