.ed-container.modulo__header.nosotros__acerca
  .ed-item
    h1 Nosotros
    p  Somos una empresa regiomontana con mas de 20 años de experiencia en el servicio de banquetes y renta de equipo para todo tipo de eventos.
