.ed-container.nosotros__mvv
  .ed-item.tablet-1-3
    h2 Misión
    img(src="img/gema-icon.png", alt="")
    p   Dar el mejor servicio para todo tipo de eventos, tomando en cuenta la puntualidad y calidad en el servicio.
  .ed-item.tablet-1-3
    h2 Visión
    img(src="img/gema-icon.png", alt="")
    p   Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  .ed-item.tablet-1-3
    h2 Valores
    img(src="img/gema-icon.png", alt="")
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate!
