.ed-container.productos__rejilla
  .ed-item.tablet-50
    .accordion
      .titulo
        h3 Calentador exterior
      .descripcion
        .descripcion-img
          img(src="http://placehold.it/300x300", alt="")
        .descripcion-parrafo
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sit explicabo laudantium quia illum voluptas facere, officiis accusantium non esse nobis saepe suscipit reiciendis, iste ipsum itaque? Esse, nostrum, tempora?
      .titulo
        h3 Mesas
      .descripcion
        .descripcion-img
          img(src="http://placehold.it/300x300", alt="")
        .descripcion-parrafo
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sit explicabo laudantium quia illum voluptas facere, officiis accusantium non esse nobis saepe suscipit reiciendis, iste ipsum itaque? Esse, nostrum, tempora?
  .ed-item.tablet-50
    .accordion
      .titulo
        h3 Sillas
      .descripcion
        .descripcion-img
          img(src="http://placehold.it/300x300", alt="")
        .descripcion-parrafo
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sit explicabo laudantium quia illum voluptas facere, officiis accusantium non esse nobis saepe suscipit reiciendis, iste ipsum itaque? Esse, nostrum, tempora?
      .titulo
        h3 Toldos
      .descripcion
        .descripcion-img
          img(src="http://placehold.it/300x300", alt="")
        .descripcion-parrafo
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sit explicabo laudantium quia illum voluptas facere, officiis accusantium non esse nobis saepe suscipit reiciendis, iste ipsum itaque? Esse, nostrum, tempora?
