.ed-container.modulo__header.productos__header
  .ed-item
    h1 Productos
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus error, quibusdam tempora facere commodi, dolores aut, iure harum numquam libero vitae ex. Assumenda accusamus vel eos, molestiae quasi similique officia.
