.ed-container.productos__rejilla
  .ed-item.tablet-50
    .accordion
      .titulo
        h3 + Calentador exterior
      .descripcion
        .descripcion-img
          img(src="img/calentador.jpg", alt="")
        .descripcion-parrafo
          p  Calentador de exterior.
      .titulo
        h3 + Mesas
      .descripcion
        .descripcion-img
          img(src="img/mesa.jpg", alt="")
        .descripcion-parrafo
          ul
           li Mesa redonda
           li Mesa infantil redonda
           li Mesa larga
           li Mesa tipo Bar

  .ed-item.tablet-50
    .accordion
      .titulo
        h3 + Sillas
      .descripcion
        .descripcion-img
          img(src="img/silla.jpg", alt="")
        .descripcion-parrafo
          ul
            li Sillas negras
            li Silla tiffany
            li Silla infantil.
      .titulo
        h3 + Toldos
      .descripcion
        .descripcion-img
          img(src="img/toldo.jpg", alt="")
        .descripcion-parrafo
          ul
            li Toldo 3x3
            li Toldo 3x6
            li Toldo 4x4
            li Toldo 6x6
            li Toldo 6x12
