.ed-container.productos__rejilla
  .ed-item.tablet-50
    .accordion
      .titulo
        h3 Calentador exterior
      .descripcion
        .descripcion-img
          img(src="http://placehold.it/300x300", alt="")
        .descripcion-parrafo
          p  Calentador de exterior.
      .titulo
        h3 Mesas
      .descripcion
        .descripcion-img
          img(src="http://placehold.it/300x300", alt="")
        .descripcion-parrafo
          p  Mesa redonda, Mesa infantil redonda, Mesa larga, Mesa tipo Bar.

  .ed-item.tablet-50
    .accordion
      .titulo
        h3 Sillas
      .descripcion
        .descripcion-img
          img(src="http://placehold.it/300x300", alt="")
        .descripcion-parrafo
          p  Sillas negras, Silla tiffany, Silla infantil.
      .titulo
        h3 Toldos
      .descripcion
        .descripcion-img
          img(src="http://placehold.it/300x300", alt="")
        .descripcion-parrafo
          p   Toldo 3x3, Toldo 3x6, Toldo 4x4, Toldo 6x6, Toldo 6x12.
