.ed-container.productos__rejilla
  .ed-item.tablet-50
    .accordion
      .titulo
        h3 + Calentador exterior
      .descripcion.descripcion__productos
        .descripcion-parrafo.descripcion-parrafo__productos
          p  Calentador de exterior
        .descripcion-img.descripcion-img__productos
          img(src="img/calentador.jpg", alt="")
      .titulo
        h3 + Mesas
      .descripcion.descripcion__productos
        .descripcion-parrafo.descripcion-parrafo__productos
          p Mesa redonda
        .descripcion-img.descripcion-img__productos
          img(src="img/mesa.jpg", alt="")
        .descripcion-parrafo.descripcion-parrafo__productos
          p Mesa infantil redonda
        .descripcion-img.descripcion-img__productos
          img(src="img/mesainfantil.jpg", alt="")
        .descripcion-parrafo.descripcion-parrafo__productos
          p Mesa larga
        .descripcion-img.descripcion-img__productos
          img(src="img/mesa-larga.jpg", alt="")
        .descripcion-parrafo.descripcion-parrafo__productos
          p Mesa tipo bar
        .descripcion-img.descripcion-img__productos
          img(src="img/mesa-tipo-bar.jpg", alt="")

  .ed-item.tablet-50
    .accordion
      .titulo
        h3 + Sillas
      .descripcion.descripcion__productos
        .descripcion-parrafo.descripcion-parrafo__productos
          p Silla Acojinada
        .descripcion-img.descripcion-img__productos
          img(src="img/sillaacojinada.jpg", alt="")
        .descripcion-parrafo.descripcion-parrafo__productos
          p Silla Infantil
        .descripcion-img.descripcion-img__productos
          img(src="img/sillainfantil.jpg", alt="")
        .descripcion-parrafo.descripcion-parrafo__productos
          p Silla Tiffany
        .descripcion-img.descripcion-img__productos
          img(src="img/silla.jpg", alt="")
      .titulo
        h3 + Toldos
      .descripcion.descripcion__productos
        .descripcion-parrafo.descripcion-parrafo__productos
          p Toldo 3x3
        .descripcion-img.descripcion-img__productos
          img(src="img/toldo3-3.jpg", alt="")
        .descripcion-parrafo.descripcion-parrafo__productos
          p Toldo 3x6
        .descripcion-img.descripcion-img__productos
          img(src="img/toldo3-6.jpg", alt="")
        .descripcion-parrafo.descripcion-parrafo__productos
          p Toldo 4x4
        .descripcion-img.descripcion-img__productos
          img(src="img/toldo4-4.jpg", alt="")
        .descripcion-parrafo.descripcion-parrafo__productos
          p Toldo 6x6
        .descripcion-img.descripcion-img__productos
          img(src="img/toldo.jpg", alt="")
        .descripcion-parrafo.descripcion-parrafo__productos
          p Toldo 6x12
        .descripcion-img.descripcion-img__productos
          img(src="img/toldo6-12.jpg", alt="")
