.ed-container.servicios__rejilla
  .ed-item
    .accordion
      // Comentario Coffee 
      .titulo
        h3 + Coffee Brake
      .descripcion
        .descripcion-img
          img(src="img/coffebreak.png", alt="")
        .descripcion-parrafo
          p  Incluye:  Cafetera, charola de galletas, agua embotellada, refresco desechable, kit de preparación para el café. Contamos con servicio de solo café con desechable y kit de preparación.
      
      .titulo
        h3 + Charola de Repostrería Fina
      .descripcion
        .descripcion-img
          img(src="img/charolas-repostreria.png", alt="")
        .descripcion-parrafo
          p  Incluye: Galletas integrales, empanadas, y hojarascas.
      
      .titulo
        h3 + Charolas Saladas
      .descripcion
        .descripcion-img
          img(src="img/charolas-lonches.png", alt="")
        .descripcion-parrafo
          p  Marinitas, miniscroasant, mini sandwich.
      
      .titulo
        h3 + Charolas de Bocadillos
      .descripcion
        .descripcion-img
          img(src="img/charolas-bocadillos.png", alt="")
        .descripcion-parrafo
          p  Alitas, mini flautas, dedos de queso, boneless, nuggets y dedos de Pescado.
      
      .titulo
        h3 + Almuerzos tipo buffet
      .descripcion
        .descripcion-img
          img(src="img/almuerzo-tipo-buffet.png", alt="")
        .descripcion-parrafo
          p  Orden Individual y platillo servido a la mesa.
      
      .titulo
        h3 + Banquetes
      .descripcion
        .descripcion-img
          img(src="img/banquetes.png", alt="")
        .descripcion-parrafo
          p  Servicios de buffet y plato servido a la mesa.
